<p>header works!</p>
<input routerLink="/admin/pessoas"type="button" value="Listar pessoas"/>
<input routerLink="/admin/pessoas/novo/:id"type="button" value="Cadastrar Pessoa"/>
<input routerLink="/admin/livros"type="button" value="Listar livros"/>
<input routerLink="/admin/livros/novo/:id"type="button" value="Cadastrar Livro"/>
<input routerLink="/admin/carros"type="button" value="Listar carros"/>
<input routerLink="/admin/caros/novo/:id"type="button" value="Cadastrar carro"/>
<input routerLink="/login"type="button" value="Sair"/>


<ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/admin/pessoas">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/pessoas/novo/:id">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/livros">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="/admin/livros/novo/:id" tabindex="-1" aria-disabled="true">Disabled</a>
    </li>
  </ul>
