<body>
    <div class="login-container">
        <form class="login-form">
            <h2>Cadastrar Carro</h2>
            <div class="input-group">
                <label for="username">Modelo:</label>
                <input type="text" id="username" name="username" placeholder="Digite o modelo" required>
            </div>
            <div class="input-group">
                <label for="password">Ano:</label>
                <input type="password" id="password" name="password" placeholder="Digite o ano" required>
            </div>
            <button  routerLink="/admin/carros" type="submit">Cadastrar</button>
        </form>
    </div>
</body>

