<div id="tudo">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#ID</th>
                <th>Autor</th>
                <th>Título</th>
                <th>Botões</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let livro of lista; let i = index" >
                <td>{{livro.id}}</td>
                <td>{{livro.autor}}</td>
                <td>{{livro.titulo}}</td>
                <td><button class="btn btn-danger" (click)="editar(abc, livro, i)">Editar</button>
                    <button class="btn btn-danger" (click)="deletar(livro.id)">Deletar</button></td>
            </tr>
        </tbody>
    </table>
</div>

<div id = "tudomesmo">

    <button id="botaoCadastro" (click)="abrirModal(abc)" >Cadastrar</button>

</div>




<ng-template #abc let-modal>
	<div class="modal-header">
		<h4 class="modal-title">Cadastrar</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		
        <app-livrosdetails [livro]="livroSelecionadaParaEdicao" (retorno)="addOuEditarPessoa($event)" ></app-livrosdetails>
            
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-light" (click)="modal.close('Close click')">Fechar</button>
	</div>
</ng-template>