#tudo {
    margin: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #007BFF;
    color: #fff;
}

#tudomesmo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#botaoCadastro {
    background-color: #007BFF;
    color: #fff;
    margin-top: 30px;
    margin-bottom: 60px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
